<!-- USING ANGULAR MATERIAL MATSIDENAVMODULE FOR LAYOUT -->
<mat-sidenav-container>
    <mat-sidenav [(opened)]="sidenavStatus" [mode]="mobileQuery.matches ? 'over' : 'side' ">
            <div class="sidenav__content">
                <div class="sidenav__logo">
                    <img src="./../../../../assets/images/Vnnogile-Final-Logo_transparent-1.png">
                </div>
            </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- NAVIGATION -->
        <div class="navbar">
            <div>
                <button *ngIf="mobileQuery.matches" class="navbar__menu" (click)="onMenuClick()">
                    <mat-icon>menu</mat-icon> &nbsp;
                </button>
            </div>

            <div class="navbar__login">
                <p class="navbar__login--text" style="cursor: pointer;">Logout</p>
    
                <div class="navbar__login--imgContainer">
                    <img src="https://banglarshiksha.gov.in/assets/frontend/images/login_placeholder.jpg" height="35px">
                </div>
            </div>
        </div>

        <div class="content">
            {{ mobileQuery.matches }}
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
